<% if show_pagination? %>
  <div class="flex flex-col gap-4">
    <div class="text-sm text-gray-500 text-center">
      <span class="font-medium"><%= @collection.offset_value + 1 %></span> - <span class="font-medium"><%= [@collection.offset_value + @collection.limit_value, @collection.total_count].min %></span> / <span class="font-medium"><%= @collection.total_count %></span>件
    </div>
    <nav class="isolate inline-flex space-x-1 rounded-md shadow-sm justify-center" aria-label="Pagination">
      <%= helpers.paginate @collection, params: pagination_params %>
    </nav>
  </div>
<% end %>